/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-size: cover;
    background-image: url(fuji.jpg);
}

nav {
    margin: 0 auto;
    position: relative;
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.51);
    background-color: #3691DA;
    height: 30px;
    font-size: 1.5rem;
    padding-top: 15px;
    padding-bottom: 15px;
}

nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul a {
    list-style: none;
    text-decoration: none;
    display: block;
    color: #000;
}

li {
    list-style: none;
}

nav li a:hover {
    text-decoration: underline;
}

#left {
    float: left;
    overflow: hidden;
    width: auto;
    padding-left: 1.5rem;
}

.right {
    float: right;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

nav ul:after {
    content: "";
    display: block;
    clear: both;
}

div#talk_list {
    display: flex;
    text-align: center;
    justify-content: center;
}

p.shadow a {
    text-shadow: 1.5px 1px #ccc;
}

/* #wrapper {
    text-align: center;
    justify-content: center;
} */

.talk * {
    font-size: 1.4rem;
}

#talk_talk {
    margin-top: 1.5rem;
    height: 6rem;
    width: 21rem;
    padding: 0.7rem;
    box-sizing: border-box;
    background-color: #56AEEE;
    color: black;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
}

#talk_talk::-webkit-scrollbar {
    display: none;
}

.btn {
    margin-top: 3rem;
}

.btn a {
    text-align: center;
    padding: 1.5rem 5.3rem;
    background-color: #3691DA;
    color: #FDFEFE;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

.btn a:hover {
    color: #154360;
}

input[type="submit"] {
    margin-top: -1rem;
    margin-bottom: 2rem;
    margin-right: 2.5rem;
    width: 7rem;
    padding: 1rem 0.5rem;
    background-color: #3691DA;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

#wrapper input[type="submit"] {
    margin-right: 0;
}

input[type="submit"]:hover {
    color: #154360;
    cursor: pointer;
}

.submit {
    width: 21rem;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

#check_data {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

/* Index Page */
table.table {
    border-collapse: collapse;
    width: 60%;
    margin: 1.5rem;
}

tr:nth-child(odd) {
    background-color: #3CA4DC;
}

th, td {
    padding: 15px 20px;
}

td {
    text-align: left;
}

tr:hover {
    background-color: #6CAEBA;
}

td.action {
    text-align: right;
    width: 12%;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #154360;
}

.talk {
    margin: 1.5rem;
}

footer {
    box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.51);
    width: 100%;
    height: 5%;
    position: absolute;
    bottom: 0;
    background-color: #3691DA;
    margin-top: 10px;
    display: table;
}

footer p {
    margin: 0.7rem;
}
